<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>
    {{ title }}
  </h1>
</div>

<hr />
<ul>
  <li>En Primer lugar definir un texto en el primer editor. Luego convertirlo a HTML con el boton CONVERTIR</li>
  <li>Una vez definido el texto mediante el primer editor, se puede setear el texto en el segundo editor con el boton SETEAR TEXTO</li>
</ul>
<hr />

<h4>Asunto</h4>
<div class="quill-editor-container">
  <quill-editor
  id="subject1"
  formControlName="subject"
  [modules]="quillSubjectConfig"
  (onEditorChanged)="changedEditorSubject($event)"
  >
</quill-editor>
</div>
<h4>Cuerpo</h4>
<div class="quill-editor-container">
  <quill-editor
  id="body1"
  formControlName="body"
  [modules]="quillBodyConfig"
  (onEditorChanged)="changedEditorBody($event)"
  >
</quill-editor>
</div>
<br>
<button (click)="convert()">CONVERTIR</button>

<hr>
<h4>Asunto</h4>
<textarea style="width: 100%;">{{ subjectToSave }}</textarea>
<h4>Cuerpo</h4>
<textarea style="width: 100%;">{{ bodyToSave }}</textarea>
<hr>

<h4>Asunto</h4>
<div class="quill-editor-container">
  <quill-editor
    id="subject2"
    formControlName="subject"
    [modules]="quillSubjectConfig"
    (onEditorChanged)="changedEditorSubject($event)"
  >
  </quill-editor>
</div>
<h4>Cuerpo</h4>
<div class="quill-editor-container">
  <quill-editor
  id="body2"
  formControlName="body"
  [modules]="quillBodyConfig"
  >
</quill-editor>
</div>
<br>
<button (click)="boton()">SETEAR TEXTO</button>